.ulta-promotions-headband-container .ulta-promotions-headband-wrapper {
    max-width: unset;
    padding: 0;
}

.ulta-promotions-headband {
    background-color: #f6f6f6;
    height: 68px;
    display: flex;
    align-items: center;
}

.ulta-promotions-headband-list {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    width: 100%;
}

.ulta-promotions-headband-list a {
    color: inherit;
    text-decoration: none;
}

.ulta-promotions-headband-item {
    align-items: center;
    border-right: 1px solid #d4d4d4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 1 424px;
    justify-content: center;
    max-width: 424px;
    min-width: 200px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none !important;
}

.ulta-promotions-headband-item:last-child {
    border-right: none;
}

.ulta-promotions-headband p {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.ulta-promotions-headband-item div:first-child p {
    color: #000;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.ulta-promotions-headband-item div:last-child p {
    color: #505050;
    letter-spacing: 0.36px;
}

@media (width <= 1024px) {
    .ulta-promotions-headband {
        height: 82px;
        box-sizing: border-box;
    }

    .ulta-promotions-headband-list {
        display: none;
    }

    .ulta-promotions-headband-swiper {
        width: 100%;
        padding: 16px;
    }

    .ulta-promotions-headband .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .ulta-promotions-headband-item {
        flex: 1;
        padding: 0;
        max-width: 100%;
        min-width: auto;
    }

    .ulta-promotions-headband .swiper-pagination {
        position: static;
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 2px;
        margin-top: 8px;
    }

    .ulta-promotions-headband .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border: 0.5px solid #000;
        background: transparent;
        border-radius: 50%;
        opacity: 100;
    }

    .ulta-promotions-headband .swiper-pagination-bullet-active {
        background: #000;
    }
}
