.ulta-category-title div p{
    text-align: center;
    letter-spacing: 0.42px;
    color: #000000;
    opacity: 1;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 16px; 
}

.ulta-category-subtitle div p {
    text-align: center;
    font: normal normal normal 20px/24px Chronicle Deck;
    letter-spacing: 0.5px;
    color: #000000;
    opacity: 1;
    line-height: 24px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 80px;
}

.ulta-category-container {
    display: flex;
    gap: 64px;
    justify-content: center;
}

/* Contenedor de la tarjeta */
.ulta-category-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-width: 450px;
    transition: transform 0.3s ease-in-out;
}

/* Imagen dentro de la tarjeta */
.ulta-category-image img {
    width: 452px;
    height: 254px;
    display: block;
}

/* Contenedor de texto */
.ulta-category-text {
    display: flex;
    flex-direction: column;
}

/* Estilos diferenciados para el título del servicio */
.ulta-category-card-title p {
    text-align: left;
    color: #000000;
    opacity: 1;
    line-height: 20px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

/* Estilos diferenciados para la descripción */
.ulta-category-card-description p{
    text-align: left;
    font: normal normal normal 14px/20px Circular Std;
    letter-spacing: 0.14px;
    color: #000000;
    opacity: 1;
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
}

/* Enlace "Saber más" */
.ulta-category-cta {
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 14px/20px Circular Std;
    letter-spacing: 0.35px;
    color: #0D0D0D;
    opacity: 1;
    line-height: 20px;
    font-size: 14px;
}

@media (width <= 1024px) {
    .ulta-category-title div p{
        font-size: 20px;
        letter-spacing: 0.30px;
        line-height: 24px;
    }

    .ulta-category-subtitle div p{
        margin-bottom: 24px;
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 20px;
    }

    .ulta-category-container{
        gap: 24px;
        flex-direction: column;
    }

    .ulta-category-card{
        max-width: 100%;
    }

    .ulta-category-image img{
        width: 100%;
        height: auto;
    }

    .ulta-category-card-description p{
        margin-bottom: 16px;

    }
}