.ulta-corporate-commitments {
    width: 100%;
    margin: 0 auto;
}

.ulta-corporate-commitments-header {
    margin-bottom: 24px;
}

.ulta-corporate-commitments-header h3 {
    letter-spacing: 0.3px;
    line-height: 24px;
    color: #000;
    margin: 0;
}

.ulta-corporate-commitments-wrapper {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.ulta-corporate-commitment {
    display: flex;
    align-items: center;
    gap: 24px;
    background: #F6F6F6;
    padding: 20px 24px;
    width: 100%; 
}

.ulta-corporate-commitment-image {
    min-width: 88px;
}

.ulta-corporate-commitment-image img {
    width: 88px;
    height: 88px;
    object-fit: cover;
}

.ulta-corporate-commitment-info {
    max-width: 283px;
}

.ulta-corporate-commitment-info .ulta-corporate-commitment-title {
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 20px;
    margin: 0 0 4px;
    color: #000;
}

.ulta-corporate-commitment-info .ulta-corporate-commitment-description {
    font-weight: var(--font-weight-book);
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 20px;
    color: #000;
    margin-bottom: 16px;
}

.ulta-corporate-commitment-button p {
    font-weight: var(--font-weight-book);
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 20px;
    color: #0D0D0D;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}

/* Responsive */
@media (width <= 1024px) {
    .ulta-corporate-commitments-wrapper {
        flex-direction: column;
    }

    .ulta-corporate-commitment {
        width: -webkit-fill-available;
    }

    .ulta-corporate-commitment-info {
        max-width: 100%;
    }
}
